
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ddd;
}

html {
  font-family: 'Poppins', sans-serif;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 85.5%;
  }
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

input {
  outline: none;
}

.completed p {
  text-decoration: line-through;
  opacity: 0.5
}


.inputTasks {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

.inputTasks:checked  ~ .checkmark {
  background: #24fe41;
  border: none;
}

.inputTasks:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  display: flex;
  items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #EBEBEB;
  border-radius: 50%;

}

.checkmark::after {
  content: url("/icon-check.svg");
  position: absolute;
  display: none;
  left: 28%;
  top: 12%;
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}






